usmultiplebp/main/default/flows/Multiple_Back_Promotion_Enabled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>count_number_of_promoted_back_promotions_on_promoted_user_story</name>
        <label>count number of promoted back promotions on promoted user story</label>
        <locationX>589</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>recordcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>promoteduserstories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_to_see_if_there_are_promoted_user_story_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_to_see_if_there_are_promoted_user_story_records</name>
        <label>Check to see if there are promoted user story records</label>
        <locationX>761</locationX>
        <locationY>81</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordcount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_promoted_user_story_records</targetReference>
            </connector>
            <label>Has records</label>
        </rules>
    </decisions>
    <interviewLabel>Multiple Back Promotion Enabled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multiple Back Promotion Enabled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_promoted_user_story_records</name>
        <label>delete promoted user story records</label>
        <locationX>955</locationX>
        <locationY>75</locationY>
        <inputReference>promoteduserstories</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>promoted_user_stories</name>
        <label>promoted user stories</label>
        <locationX>414</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count_number_of_promoted_back_promotions_on_promoted_user_story</targetReference>
        </connector>
        <filters>
            <field>Is_back_promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserStory.Id</elementReference>
            </value>
        </filters>
        <object>copado__Promoted_User_Story__c</object>
        <outputReference>promoteduserstories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__User_Story__c</queriedFields>
        <queriedFields>copado__Promotion__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>promoted_user_stories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>backpromotions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promotion__c</objectType>
    </variables>
    <variables>
        <name>deletepromoteduserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>promoteduserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>recordcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
